.disabled { background-color: lightgray; color:silver; border-radius: 4px; padding: 4px 10px 4px 10px; }
.enabled { background-color: black; color:white; border-radius: 4px; padding: 4px 10px 4px 10px; }

.smallbr { font-size:15%; display: block;}

.msg { color:crimson; font-style:italic; }
.cofm-msg { color:darkgreen; font-style:italic; }

.need-attention { border: 1px solid crimson; } 

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

html,
body {
  height: 100%;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 6.5rem;            /* Footer height */
  /* font-size: 90%; */
}

#page-container {
  position: relative;  /* absolute;  */
  min-height: 100vh;
  width: 100%;
}
    
#content-wrap {
  padding-bottom: 6.5rem;    /* Footer height */
}
    
.cropped-img { 
  width: 200px; /* width of container */
  height: 2px; /* height of container */
  border: 1px solid black;
  object-fit: cover;
  object-position: 100% 50%;
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 4;
}
.icon {
  font-size: 24px;
  color: lightblue;
}

.nav-item.nav-link {
  display: flex;
  align-items: center;
}

.icon-wrapper {
  margin-left: 10px;
  margin-right: 10px; /* Adjust spacing between icon and text */
}

.navbar-brand {
  margin-left: 10px;
}

.navbar-toggler {
  margin-right: 10px;
}

.card {
  background-color: lightgray;
  padding: 10px;
  margin: 20px;
}

.event-name {
  font-weight: bold;
}

.card-time {
  font-style: italic;
}

.card-right-col {
  margin-right: 10px;
}

.login-title {
  color: lightblue;
  font-weight: bold;
}

.login-icon {
  display: inline-block;
  font-size: 80px;
}

.login-col {
  text-align: center;
}

.login-button {
  margin-top: 20px;
}

.form-group {
  text-align: left;
}

.form-container {
  padding: 50px;
}

.search-bar {
  margin: 0 auto;
  max-width: 600px;
}

.search-button {
  background-color: lightgray;
}

.search-icon {
  font-size: 24px;
  color: white;
}

.details-club {
  font-style: italic;
}